title {

    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 20px;
}
 
h1 {
    color: rgb(0, 21, 255);
}
